
/*
	BASIC RESET
*/

* {
    padding: 0;
    margin: 0;
   -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
input, label, textarea, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

input, textarea, button, select {
	font-family: "proxima-nova",sans-serif;
	font-size: 100%;
}

textarea { 
	resize:vertical; 
} 

*:focus {
    outline: none;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse; 
}



/*
	HELPERS
*/

.inline > li { display: inline; }
.inline-block { display: inline-block; }
.toinline { display: inline;  }
.block { display: block; }
.right { float: right; }
.left { float: left; }
.relative { position: relative; }
.tleft { text-align: left; }
.tright { text-align: right; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.p40 { padding: 40px; }
.pb2 { padding-bottom: 2px; }
.pb3 { padding-bottom: 3px; }
.pb4 { padding-bottom: 4px; }
.pb5 { padding-bottom: 5px; }
.pb7 { padding-bottom: 7px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.mr20 { margin-right: 20px; }
.overflow { overflow: hidden; }
.normal-weight { font-weight: 300; }
.bold-weight { font-weight: 400; }
.extra-bold-weight { font-weight: 600; }
.soft-black { color: #444; }
.white-color { color: #fff; }
.grey { color: #777; }
.soft-grey { color: #999; }
.purple { color: #436; }
.dark-purple { color: #4e2a54; }
.blue { color: #37d; }
.white-background { background: #fff; }
.page-height { min-height: 100%; }
.size15 { font-size: 15px; }
.size16 { font-size: 16px; }

/*
	#BASICS
*/

html, body, .content, .limit {
	/*height: 100%;*/
}

body {
	font-family: "proxima-nova",sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	color: #111;
	line-height: 21px;
}

#map { 
	height: 100%;
	width: 100%;
}


/*
	#LAYOUT
*/

.global-header {
	position: fixed;
	top: 0;
	height: 46px;
	width: 100%;
	z-index: 10;
	background-color: #333;
}

.content {
	margin-top: 46px;
	border-right: 4px solid #333;
	border-left: 4px solid #333;
	overflow: hidden;
}

.content-limit {
	background: #f0f0f0;
	padding: 14px 4px;
}

.limit {
	max-width: 980px;
    margin: 0 auto;
}

.content h1.header-page {
	max-width: 980px;
    margin: 0 auto;	
    padding: 20px 30px 18px;
}

.limit-inner {

}

.left-50 {
	position: fixed;
	top: 46px;
	left: 4px;
	bottom: 0;
	right: 50%;
	/*responsive animation map*/
	transition: all 0.5s ease;
	z-index: 9;
}

.right-50 {
	float: right;
	width: 50%;
}

.inner-half {
	border: 4px solid #f0f0f0;
	padding: 0 30px;
}

.content-map-form {
	height: 300px;
}

.mainpage .page-header {
    padding-top: 20px;
    margin-bottom: 25px;
}

.page-index {
	padding-bottom: 20px;
}

.meta-left {
    width: calc(100% - 90px);
	display: inline-block;
	letter-spacing: -0.3px;
}

.meta-right {
	float: right;
}

.grid-center { 
	width: 72%; 
}

.grid-sidebar { 
	width: 28%; 
}

.sidebar {
    padding: 12px;
    margin-left: 40px;
}

.mainarticle > header {
	padding: 0 0 2px 0;
}

.singlearticle > header {
	padding: 30px 0 20px;
}

.comments-head {
	font-size: 15px;
}

.footer {
	background: #F0F0F0;
    border: 4px solid #333;
    border-top: none;
    width: 100%;
    height: 200px;
}


/*
	#LINKS & MENUS
*/

.main-menu {
	background: #333;
}

.main-menu.open-main-menu {
    left: 0;
    transition: all 0.5s ease;
}

.main-menu > li > a,
.main-menu > li > span {
	display: block;
	color: #bbb;
	height: 46px;
	line-height: 46px;
	padding: 0 10px;
	transition: all .15s ease-in;
}

.main-menu > li > a:hover,
.main-menu > li > span:hover {
	color: #fff;
}

.main-menu > li > span {
	cursor: pointer;
}

.content a {
	color: #333;
}



/*
	#PAGE
*/

.inner-global-header {
	padding: 0 25px;
}

.logo img {
	padding-top: 9px;
}

.main-menu > li {
	float: right;
}

.main-menu .white { 
	color: #fff;
}

/*
	#TEXT
*/
h1, .h1 {
	font-family: "futura-pt",sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -1px;
	margin-left: -1px;
}

.logo h1,
.logo .h1 {
    display: inline-block;
    letter-spacing: 0;
    font-size: 20px;
    letter-spacing: -0.5px;
}

h2, .h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.5px;
}

h3, .h3 {
	font-size: 15px;
	font-weight: 400;
}

h4, .h4 {
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.h1-giant {
	font-family: "futura-pt",sans-serif;
	font-size: 60px;
	font-weight: 500;
	padding-bottom: 12px;
	margin-left: -2px;
}

.h1-mini {
	font-family: "futura-pt",sans-serif;
	font-size: 20px;
	font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.3px;
}

.h1-variant {
	font-family: "futura-pt",sans-serif;
	font-size: 28px;
	font-weight: 500;
}

.h1-ext {
	font-family: "futura-pt",sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 32px;

}



.h1-alt {
	font-family: "futura-pt",sans-serif;
	font-size: 22px;
	font-weight: 500;
    letter-spacing: -1px;
}

/*h1 small,
.h1 small {
	color: #999;
    font-size: 20px;
}*/

.url a {
	color: #37d;
}

/*
	#ICONS
*/

.for-icon {
	position: relative;
	padding-left: 20px;
}

.for-icon i {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 14px;
}

.url img {
	float: left;
    padding-top: 2px;
    padding-right: 6px;
}

i.fa-location-arrow-outline {
	font-size: 17px;
}

.breadcrumb i {
    position: absolute;
    left: -6px;
    bottom: 5px;
}

.search-box i {
    position: absolute;
    right: 14px;
    color: #aaa;
    top: -2px;
}

.dropdown .chevron {
	float: right;
    padding-top: 15px;
}

.add-tags i {
	font-size: 17px;
}

.comments-count i {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 19px;
}

.launch-collections i {
	position: absolute;
	font-size: 24px;
	top: -2px;
	padding-top: 0;
	cursor: pointer;
}

.dates .icon-calendar {
	position: absolute;
	font-size: 19px;
	left: 0;
	top: 0;
}

.location i {
	position: absolute;
	font-size: 21px;
	left: 2px;
	top: -3px;
}

.icon-collection .fa-favorite-border {
    position: absolute;
    top: 10px;
    left: 11px;
    font-size: 18px;
    color: #D25e08;
}

.icon-collection .fa-folder-open {
    position: absolute;
    top: 9px;
    left: 11px;
    font-size: 19px;
    color: #D29F08;	
}

.permission-collection .fa-lock {
    position: absolute;
    top: 9px;
    right: 14px;
    font-size: 19px;
    color: #bbb;
}

.permission-collection .fa-earth {
    position: absolute;
    top: 9px;
    right: 11px;
    font-size: 19px;
    color: #bbb;
}

.page-header i {
	font-size: 20px;
	color: #777;
}

/*.activity-head i {
	position: absolute;
	top: -5px;
	left: 0;
}*/

.comment-title i {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 19px;
}

.meta-left i {
	color: #896E8E;
}

.show-tags i {
    color: #6EA0E8;
    font-size: 17px;
    position: absolute;
    top: 2px;
    left: 0;
}





/*
	#FORMS
*/

::-webkit-input-placeholder { color: #bbb; }
::-moz-placeholder { color: #bbb; opacity:  1; }
:-ms-input-placeholder { color: #bbb; }

input, 
textarea {
	width: 100%;
	margin: 8px 0;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 10px 12px;
}

input:focus,
textarea:focus {
	border-color: #333;
}

input[type="radio"] {
	width: auto;
}

button,
.button {
    background: #37d;
    border: none;
    padding: 6px 12px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    transition: all .15s ease-in;
    display: inline-block;
}

button:hover,
.button:hover {
    color: #fff;
    background: #444;
}

.button-light {
    background: #eee;
    color: #333;	
}

.button-light:hover {
    background: #f7f7f7;
    color: #555;
}

input.input-micro {
    width: 90px;
}

.inline-label {
	float: left;
    padding-top: 12px;
    padding-right: 12px;
}

.auth-form {
	width: 350px;
	padding-top: 10px;
}

select {
    color: #777;
    border: 1px solid #ddd;
    padding: 3px 3px;	
}

.btn-mini {
    padding: 5px 8px;
}



/*
	#INFOS
*/

.info-note {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
    padding: 15px;
    font-weight: 400;
}

.info-note a {
	color: #37d;
}

.info-error {
	padding: 20px;
    padding-left: 80px;
    background: #FBDCDC;
    position: relative;
}

.errors-collection div {
	padding: 2px 2px 10px;
    color: #D63B16;
    font-size: 14px;
    line-height: 18px;
}

.errors-collection i {
	padding-right: 5px;
}

.info i {
	position: absolute;
    top: 25px;
    left: 20px;
    font-size: 40px;
}

.info h2 {
	font-size: 24px;
}



/*
	#COMPONENTS
*/
.mini-sub-line {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;	
}

.sub-line {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sub-line-ext {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.sub-line-alt {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}

.tag {
    color: #37d;
}

.username {
	color: #37d !important;
}

.extra-space {
	display: inline-block;
	width: 20px;
}



/*
	#MORE
*/

.logo span {
	color: #C9C2D8;	
}

.datestype label {
	float: left;
	padding-right: 20px;
}

.inline-form {
	float: left;
	margin-right: 20px;
}





.singlearticle h1 {
	font-size: 60px;
	line-height: 57px;
	letter-spacing: -2px;
	margin-top: 30px;
}

.vote-comment {
	padding-left: 10px;
    color: #768;
    font-weight: 700;
}

.vote-comment span {
	cursor: pointer;
}

.vote-comment span:hover {
	color: #37d;
}

.vote-comment i {
	float: right;
	padding-top: 4px;
}

.vote-comment i.fa-check {
    font-size: 12px;
    color: #62A751;
    padding-left: 2px;	
}

.breadcrumb {
	position: relative;
    padding-left: 34px;
}

.comments-count {
	font-weight: 400;
	color: #999;
	padding-left: 22px;
}

.dates {
	padding-left: 22px;
	letter-spacing: -0.3px;
}

.location {
	padding-left: 20px;
}

.special-date {
    background: #f0f0f0;
    padding: 0 4px;
    letter-spacing: -1px;
}

.past-date {

}

.sidebar-menu li {
	padding-bottom: 8px;
}

.sidebar-menu a {
	color: #37d !important;
}

.sidebar-menu i {
	padding-right: 4px;
    font-size: 17px;
}

.sidebar-menu .fa-playlist-plus {
	font-size: 19px;
}



.sidebar-stats {
	padding-top: 20px;
	font-size: 14px;
	color: #ddd;
    line-height: 24px;
}

.sidebar-stats span {
	color: #E4C76F;
}

.main-menu .menu-sign a,
.main-menu .menu-sign span {
	display: inline-block;
	padding: 0;
}

.main-menu a.menu-sign-up {
	padding-left: 10px;
}

.main-menu a.menu-sign-in {
	padding-right: 10px;
}

.userpage .h1-giant {
	padding-top: 15px;
}

.comments-empty {
	border: 1px dashed #ddd;
    height: 80px;
    text-align: center;
    padding-top: 29px;
    color: #999;
}

.page-header span {
	color: #777;
}

.footer p span {
	font-weight: 400;
	color: #777;
}

.comment-title {
	font-weight: 400;
	padding-left: 22px;
}

.show-tags {
	padding-left: 21px;
}

.instructions {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
    padding: 13px 15px 6px;
}

.instructions li {
	padding-bottom: 8px;
}

.instructions span {
	font-weight: 500;
    padding-right: 3px;
}

.text-info {
	letter-spacing: -0.5px;
    color: #777;
    font-weight: 400;
}

a.meta-link {
	padding-left: 5px;
	color: #bbb;
}

a.meta-link:hover {
	color: #333;
}

.meta-single {
	letter-spacing: -0.3px;
}



/*
	ADD ONS
*/

/* VOTES */

.btn-vote {
	font-family: "futura-pt",sans-serif;
	cursor: pointer;
	color: #6E5D92;
	font-weight: 700;
}

.singlearticle .vote-count {
    font-size: 38px;
    padding-right: 23px;
}

 .mainarticle .vote-count {
	font-size: 18px;
	padding-right: 12px;
}

.singlearticle .vote-count i {
    position: absolute;
    bottom: 1px;
    right: -2px;
    font-size: 32px;
}

.mainarticle .vote-count i {
    position: absolute;
    bottom: -1px;
    right: -2px;
    font-size: 18px;
}

.mainarticle .idle-votepost .vote-count {
	color: #111;
    padding-right: 15px;
    cursor: auto;
}

.mainarticle .idle-votepost i {
    position: absolute;
    bottom: 4px;
    right: -1px;
    font-size: 14px;
    color: #62A751;	
}

.singlearticle .idle-votepost .vote-count {
	color: #111;
    padding-right: 25px;
    cursor: auto;	
}

.singlearticle .idle-votepost i {
    position: absolute;
    bottom: 9px;
    right: 1px;
    font-size: 25px;
    color: #62A751;		
}

.singlepage .btn-vote {

}

.btn-vote:hover {
	color: #37d;
}

.btn-vote i {

}

.singlepage .btn-vote i {

}

.singlepage .vote-count {

}

/* PAGINATION */

	.pagination {
		font-family: "futura-pt",sans-serif;
		font-weight: 700;
		font-size: 14px;
		text-align: center;
	}

	.pagination li {
		display: inline;
	}

	.pagination span,
	.pagination a {
	    display: inline-block;
	    padding: 5px 0;
	    width: 34px;
	}

	.pagination a:hover, 
	.pagination .active span {
		color: #37d;
	}

	.pagination .disabled {
		cursor: not-allowed;
		color: #999;
	}

/* #DATEPICKER & SELECT DATES */

	.ui-datepicker {
		background: #fff;
		padding: 5px;
		padding-bottom: 2px;
		border: 1px solid #eaeaea;
		font-weight: 400;
	}

	.ui-datepicker-calendar {
		margin: 13px;
	}

	.ui-state-default {
		display: block;
		width: 30px;
		height: 30px;
		padding-top: 5px;
		text-align: center;
	    color: #111;
	    font-weight: 500;
	}

	.ui-state-default:hover {
		background: #ccc;
	}

	.ui-datepicker-unselectable .ui-state-default {
	    color: #ccc;
	    font-weight: 400;
	    background: #fff;
	}

	.ui-state-highlight .ui-state-default {
		background: #333;
		color: #fff;
	}

	.ui-datepicker-header {
		position: relative;
		font-size: 14px;
		padding: 10px;
		border-bottom: 1px solid #eaeaea;
	}

	.ui-datepicker-prev {
		position: absolute;
		cursor: pointer;
		top: 10px;
		left: 15px;
	}

	.ui-datepicker-next {
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 15px;
	}

	.ui-datepicker-calendar th {
		font-size: 14px;
		padding-bottom: 6px;
	}

	.ui-datepicker-title {
		text-align: center;
	}

		/********/

	.content-single-date {
		display: block;
	}

	.content-interval-dates {
		display: none;
	}

	.content-multi-dates {
		display: none;
		margin-top: 8px;
	}

	.pick-multi-dates {
	    float: left;
    	width: 248px;	
	}

	.content-multi-dates > span {
	    display: block;
	    overflow: hidden;	
	    padding-left: 20px;	
	}

	.input-multi-dates {
	    overflow-y: hidden;
	    line-height: 23px;
	    margin: 0;    
	}


/*SELECT TAGS*/

	.list-tags {
		columns: 3;
	  	-webkit-columns: 3;
	  	-moz-columns: 3;
	  	padding: 10px 20px;
	}

	.single-tag {
		transition: all .15s ease-in;
    	padding: 0 4px;	
    	cursor: pointer;
	}

	.disable-tag {

	}

	.enable-tag {
		background: #333;
    	color: #fff;
	}

/*DROPDOWN MENU*/

	.dropdown {
		position: relative;
	}

	.dropdown-menu {
		position: absolute;
	    top: 100%;
	    left: -10px;
	    z-index: 1000;
	    display: none;
	    min-width: 160px;
	    padding: 12px 0;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	}

	.user-dropdown-menu {
		right: -10px;
    	left: auto;
	}

	.dropdown-menu > li > a {
		display: block;
	    padding: 4px 20px;
	    color: #444;
	    font-weight: 400;
	    white-space: nowrap;
	}

	.dropdown-menu a:hover {
		color: #111;
		background: #f0f0f0;
	}

	.open>.dropdown-menu {
	    display: block;
	}

	.dropdown.open span {
		color: #fff;
	}

	.dropdown-search {
		left: -100px;
    	width: 250px;
    	padding: 0 10px;
	}

	/*collections*/

	.launch-collections {
	    margin-left: 10px;
	    width: 22px;
	    height: 22px;
	    color: #896E8E;
	}

	.launch-collections:hover {
		color: #37d;
	}

	.launch-collections.open {
		color: #37d;
	}

	.dropdown-collections {
		padding: 8px 0;
		top: 31px;
	    right: -10px;
	    left: auto;
	    color: #111;
	    text-align: center;
	    padding-bottom: 0;
	}

	.dropdown-collections:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    margin-left: -10px;
	    top: 0px;
	    right: -1px;
	    border: 7px solid #000;
	    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF #FFF;
	    transform-origin: 0 0;
	    transform: rotate(135deg);
	    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.4);
	}

	.header-collection {
	    margin-bottom: 0;
	    letter-spacing: -1px;
	    padding: 0 12px 10px;
	    white-space: nowrap;
	}

	.content-collection {
		font-weight: 400;
	}

	.content-collection-guest {
		padding: 10px;
		font-weight: 300;
	}

	.footer-collection {
		background: #f0f0f0;
    	padding: 8px;
    	font-weight: 400;
    	text-align: left;
	}

	.footer-collection-guest {
		text-align: center;
	}

	.footer-collection-guest a {
		color: #37d;
	}

	.footer-collection > span {
	    color: #37d;
	    padding: 1px 5px;
	    display: block;
	    cursor: pointer;
	}

	.footer-collection .disable-add-collection {
		color: #bbb;
		cursor: auto;
	}

	.table-collection,
	.menu-collection {
		width: 100%;
	}

	.table-collection tr {
		border-bottom: 1px solid #f0f0f0;
	}

	.launch-save-collection:hover {
		background: #f0f0f0;
		cursor: pointer;
	}

	.table-collection td {
		padding: 8px 0;
	}

	.table-collection .td-icon {
		width: 35px;
	}

	.form-add-collection {
		display: none;
	}

	.inputcollection {
	    margin: 0;
	    margin-bottom: 10px;
	    height: 35px;
	    padding: 9px;
	}

	.inputcollection:focus {
		border-color: #ccc;
	}

	.menu-collection td {
		padding: 4px 0;
	}

	.menu-collection .td-icon {
		width: 35px;
	}


	/*DROPDOWN DATES*/


	.icon-more {
	    cursor: pointer;
	    display: inline-block;
	}

	.icon-more i {
	    font-size: 18px;
	    top: 2px;
	}

	.icon-more i:hover {
		color: #37d;
		border-color: #37d;
	}

	.dropdown-dates {
		top: 35px;
	    left: -60px;
	    color: #111;
	}

	.dropdown-dates:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    margin-left: -10px;
	    top: 0px;
	    left: 87px;
	    border: 7px solid #000;
	    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF #FFF;
	    transform-origin: 0 0;
	    transform: rotate(135deg);
	    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.4);
	}

/*TOOLTIP*/

	.tooltip {
	    top: -26px;
	    right: -11px;
	    background-color: #333;
	    font-size: 14px;
	    padding: 0 8px;
	    color: #FFF;
	    opacity: 0;
	    position: absolute;
	    transition: opacity 0.5s;
	}

	.tooltip:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    bottom: -8px;
	    left: 54%;
	    border: 4px solid #000;
	    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333 #333;
	    transform-origin: 0 0;
	    transform: rotate(-45deg);
	}

	.tooltip-launch {
		position: relative;
	}

	.tooltip-launch:hover .tooltip {
	    opacity:1;
	}

/*CUSTOM CHECKBOX AND RADIO BUTTON*/

	input[type=checkbox] {
	    display: none;
	}

	input[type=radio] {
    	display: none;
	}

	.label-checkbox,
	.label-radio {
	    position: relative;
	    padding-left: 25px;
	}

	.label-checkbox:before,
	.label-radio:before {
	    content: "";
	    width: 15px;
	    height: 15px;
	    position: absolute;
	    left: 0;
	    bottom: 1px;
	    background-color: #f0f0f0;
    	border: 1px solid #DDD;
    	cursor: pointer;
	}

	.label-radio:before {
    	border-radius: 8px;
	}

	input[type=checkbox]:checked + .label-checkbox:before {
	    content: "\2713";
	    text-align: center;
	    line-height: 18px;
	}

	input[type=radio]:checked + .label-radio:before {
	    content: "\2022";
	    color: #555;
	    font-size: 42px;
	    line-height: 10px;
	    text-align: center;
	}

/*MODAL BOX*/



	.modal-background {
	    display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #333;
	    opacity: .50;
	    filter: alpha(opacity=50);
	    z-index: 1000;
	}



	.modal-content {
	    background-color: #fff;
	    box-shadow: 0 0 4px 0 #333;
	    display: none;
	    min-height: 240px;
	    left: 50%;
	    margin: -120px 0 0 -210px;
	    position: fixed;
	    top: 40%;
	    width: 420px;
	    z-index: 1000;
	}



	.header-modal {
	    border-bottom: 1px solid #f0f0f0;
	    padding: 10px 20px;
	}

	.footer-modal {
		background: #f0f0f0;
		padding: 10px 20px;
	}


	.modal-background.active, 
	.modal-content.active {
    	display: block;
	}​

	.rst {}




/*CUSTOM INFO WINDOW (INFOBOX)*/

	.infoBox {
		position: relative;
	    background: #fff;
	    color: #111;
	    padding: 15px;
	    font-size: 14px;
	    font-weight: 300;
	    font-family: "proxima-nova",sans-serif;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	}

	.infoBox:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    margin-left: -10px;
	    bottom: -14px;
	    left: 50%;
	    border: 7px solid #000;
	    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF #FFF;
	    transform-origin: 0 0;
	    transform: rotate(-45deg);
	    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.2);
	}

	.infobox-link a {
		font-size: 16px;
		color: #37d;
	    padding: 8px 0 2px 0;
	    display: inline-block;
	}

	.infobox-count {
	    color: #6E5D92;	
	    font-weight: 700;
	    font-size: 18px;
    	padding-right: 6px;
	}

/* FLASH MESSAGE */

	.flash-message {
	    position: absolute;
	    top: 38px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    width: 40%;	
		background: #51805A;
		color: #fff;
		padding: 12px 20px;
    	text-align: center;
	}


	/*en desarrollo*/


/*
	RESPONSIVE
*/

/*Responsive menu icon*/

	.nav-responsive { 
	    cursor: pointer;
	    padding: 22px 24px 24px 4px;
	    position: fixed;
	    overflow: hidden;
	    z-index: 999;
	    display: none; }

	.nav-responsive:hover .nav-icon,
	.nav-responsive:hover .nav-icon:before,
	.nav-responsive:hover .nav-icon:after {
	    background: #fff;
	}

	.nav-icon, 
	.nav-icon:before, 
	.nav-icon:after {
	  cursor: pointer;
	  border-radius: 1px;
	  height: 2px;
	  width: 16px;
	  background: #fff;
	  position: absolute;
	  display: block;
	  content: ''; }

	.nav-responsive 
	.nav-icon:before {
	  top: -5px; }

	.nav-responsive 
	.nav-icon:after {
	  bottom: -5px; }

	.nav-icon, 
	.nav-icon:before, 
	.nav-icon:after {
	  transition: all 400ms ease-in-out; }

	.nav-responsive.nav-show .nav-icon {
	  background-color: transparent; }

	.nav-responsive.nav-show 
	.nav-icon:before, 
	.nav-responsive.nav-show 
	.nav-icon:after {
	  top: 0; }

	.nav-responsive.nav-show 
	.nav-icon:before {
	  transform: rotate(45deg); }

	.nav-responsive.nav-show 
	.nav-icon:after {
	  transform: translateY(-10px) rotate(-45deg);
	  top: 10px; }

/*Responsive map*/

	.map-responsive {
	    display: none;
	    float: right;
	    color: #fff;
	    height: 46px;
	    line-height: 46px;
	    letter-spacing: -0.5px;
	    padding: 0 5px;
	}

	.map-wrap-toggle {
		left: 0 !important;
	}

/**************/


@media (max-width:640px) {

	.main-menu {
		position: fixed;
		top: 46px;
		left: -180px;
		bottom: 0;
		width: 180px; 
	}

	.main-menu li {
		display: block;
		float: none;
	    padding-left: 10px;
	}

	.main-menu > li > a, 
	.main-menu > li > span {
		height: 34px;
	}

	.main-menu .chevron {
		display: none;
	}

	.nav-responsive {
		display: block;
	}

	.map-responsive {
		display: block;
	}

	.inner-global-header{
		padding: 0 15px;
	}

	.logo {
		margin-left: 40px;
	}

	.menu-sign span {
		display: none !important;
	}

	.menu-sign a {
		display: block !important;
	}

	.menu-sign-in {
		padding-left: 10px !important;
	}

	.right-50 {
		width: 100%;
	}

	.left-50 {
		width: 100%;
		left: -100%;
	}


}

@media (max-width:960px) {

	.inner-half {
		padding: 0 20px;
	} 

}