





/*
	#LAYOUT
*/





.left-header {
	float: left;
}



.center-header ul {
	text-align: center;
}

.right-header {
	float: right;
}



.content-limit {
	background: #f0f0f0;
	padding: 14px 4px;
}


.content h1.header-page {
	max-width: 980px;
    margin: 0 auto;	
    padding: 20px 30px 18px;
}

.limit-inner {

}



.inner-half {

	padding: 25px 30px;
}



.mainpage .page-header {
    padding-top: 12px;
    background: #f0f0f0;
}

.page-index {
	padding-bottom: 20px;
}

.meta-left {
    width: calc(100% - 90px);
	display: inline-block;
	letter-spacing: -0.3px;
}

.meta-right {
	float: right;
}

.grid-center { 
	width: 72%; 
}

.grid-sidebar { 
	width: 28%; 
}

.sidebar {
    padding: 12px;
    margin-left: 40px;
}

.mainarticle > header {
	padding: 0 0 2px 0;
}

.singlearticle > header {
	padding: 30px 0 20px;
}

.comments-head {
	font-size: 15px;
}




/*
	#LINKS & MENUS
*/







.main-menu > li > a:hover,
.main-menu > li > span:hover {
	color: #fff;
}

.main-menu > li > span {
	cursor: pointer;
}





/*
	#PAGE
*/

.inner-global-header {
	padding: 0 25px;
}





.main-menu .white { 
	color: #fff;
}

/*
	#TEXT
*/
/*h1, .h1 {
	font-family: "futura-pt",sans-serif;
	font-size: 36px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -1px;
	margin-left: -2px;
}*/



.page-header h1 {
	margin-left: 20px;
    background: #333;
    display: inline-block;
    padding: 1px 10px;
    color: #fff;
}

h2, .h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.5px;
}

h3, .h3 {
	font-size: 15px;
	font-weight: 400;
}

h4, .h4 {
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.h1-giant {
	font-family: "futura-pt",sans-serif;
	font-size: 60px;
	font-weight: 500;
	padding-bottom: 12px;
	margin-left: -2px;
}

.h1-mini {
	font-family: "futura-pt",sans-serif;
	font-size: 20px;
	font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.3px;
}

.h1-variant {
	font-family: "futura-pt",sans-serif;
	font-size: 28px;
	font-weight: 500;
}

.h1-ext {
	font-family: "futura-pt",sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 32px;

}



.h1-alt {
	font-family: "futura-pt",sans-serif;
	font-size: 22px;
	font-weight: 500;
    letter-spacing: -1px;
}

/*h1 small,
.h1 small {
	color: #999;
    font-size: 20px;
}*/

.url a {
	color: #37d;
}

/*
	#ICONS
*/

.for-icon {
	position: relative;
	padding-left: 20px;
}

.for-icon i {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 14px;
}





.breadcrumb i {
    position: absolute;
    left: -6px;
    bottom: 5px;
}



.dropdown .chevron {
	float: right;
    padding-top: 15px;
}

.add-tags i {
	font-size: 17px;
}

.comments-count i {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 19px;
}

.dates .icon-calendar {
	position: absolute;
	font-size: 19px;
	left: 0;
	top: 0;
}

.location i {
	position: absolute;
	font-size: 21px;
	left: 2px;
	top: -3px;
}



.permission-collection .fa-lock {
    position: absolute;
    top: 9px;
    right: 14px;
    font-size: 19px;
    color: #bbb;
}

.permission-collection .fa-earth {
    position: absolute;
    top: 9px;
    right: 11px;
    font-size: 19px;
    color: #bbb;
}

.page-header i {
	font-size: 20px;
	color: #777;
}

/*.activity-head i {
	position: absolute;
	top: -5px;
	left: 0;
}*/

.comment-title i {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 19px;
}

.meta-left i {
	color: #896E8E;
}

.show-tags i {
    color: #6EA0E8;
    font-size: 17px;
    position: absolute;
    top: 2px;
    left: 0;
}





/*
	#FORMS
*/



/*input, 
textarea {
	width: 100%;
	margin: 8px 0;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 10px 12px;
}

input:focus,
textarea:focus {
	border-color: #333;
}*/




/*button,
.button {
    background: #37d;
    border: none;
    padding: 6px 12px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    transition: all .15s ease-in;
    display: inline-block;
}*/

button:hover,
.button:hover {
    color: #fff;
    background: #444;
}

.button-light {
    background: #eee;
    color: #333;	
}

.button-light:hover {
    background: #f7f7f7;
    color: #555;
}



.inline-label {
	float: left;
    padding-top: 12px;
    padding-right: 12px;
}

.auth-form {
	width: 350px;
	padding-top: 10px;
}

select {
    color: #777;
    border: 1px solid #ddd;
    padding: 3px 3px;	
}

.btn-mini {
    padding: 5px 8px;
}



/*
	#INFOS
*/

.info-note {
    background-color: #E0E7F3;
    color: #465E82;
    padding: 15px 20px;
    font-weight: 400;
}

.info-note a {
	color: #37d;
}



.errors-collection div {
	padding: 2px 2px 10px;
    color: #D63B16;
    font-size: 14px;
    line-height: 18px;
}

.errors-collection i {
	padding-right: 5px;
}







/*
	#COMPONENTS
*/
.mini-sub-line {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;	
}

.sub-line {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sub-line-ext {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.sub-line-alt {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}



.username {
	color: #008aff !important;
}

.extra-space {
	display: inline-block;
	width: 20px;
}



/*
	#MORE
*/





.inline-form {
	float: left;
	margin-right: 20px;
}





.singlearticle h1 {
	font-size: 60px;
	line-height: 57px;
	letter-spacing: -2px;
	margin-top: 30px;
}

.vote-comment {
	padding-left: 10px;
    color: #768;
    font-weight: 700;
}

.vote-comment span {
	cursor: pointer;
}

.vote-comment span:hover {
	color: #37d;
}

.vote-comment i {
	float: right;
	padding-top: 4px;
}

.vote-comment i.fa-check {
    font-size: 12px;
    color: #62A751;
    padding-left: 2px;	
}

.breadcrumb {
	position: relative;
    padding-left: 34px;
}

.comments-count {
	font-weight: 400;
	color: #999;
	padding-left: 22px;
}

.dates {
	padding-left: 22px;
	letter-spacing: -0.3px;
}

.location {
	padding-left: 20px;
}



.past-date {

}

.sidebar-menu li {
	padding-bottom: 8px;
}

.sidebar-menu a {
	color: #37d !important;
}

.sidebar-menu i {
	padding-right: 4px;
    font-size: 17px;
}

.sidebar-menu .fa-playlist-plus {
	font-size: 19px;
}



.sidebar-stats {
	padding-top: 20px;
	font-size: 14px;
	color: #ddd;
    line-height: 24px;
}

.sidebar-stats span {
	color: #E4C76F;
}

.main-menu .menu-sign a,
.main-menu .menu-sign span {
	display: inline-block;
	padding: 0;
}

.userpage .h1-giant {
	padding-top: 15px;
}

.comments-empty {
    border: 1px dashed #A5BDE0;
    height: 80px;
    text-align: center;
    padding-top: 29px;
    color: #A5BDE0;
    font-size: 15px;
    font-weight: 400;
}

.form-comments textarea {
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 16px;
}



.comment-title {
	font-weight: 400;
	padding-left: 22px;
}

.show-tags {
	padding-left: 21px;
}

.instructions {
    border: 1px solid #A0C5E4;
    background-color: #ECF3FA;
    color: #428BCA;
    font-size: 14px;
    padding: 8px 12px;
}

.instructions span {
	color: #333;
	font-weight: 400;
	font-size: 16px;
}

.text-info {
	letter-spacing: -0.5px;
    color: #777;
    font-weight: 400;
}

a.meta-link {
	padding-left: 5px;
	color: #bbb;
}

a.meta-link:hover {
	color: #333;
}

.meta-single {
	letter-spacing: -0.3px;
}

.page-header-dates {
	font-family: "futura-pt",sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -1px;
    background: #14C767;
    padding: 5px 6px;
    margin-left: 6px;
}

.page-header-dates:hover {
	background: #03AB6C;
}

.page-header-search {
	font-family: "futura-pt",sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -1px;
    background: #005EA5;
    padding: 5px 6px;
    margin-left: 6px;
}

/*
	ADD ONS
*/

/* VOTES */

.btn-vote {
	font-family: "futura-pt",sans-serif;
	cursor: pointer;
	color: #6E5D92;
	font-weight: 700;
}

.singlearticle .vote-count {
    font-size: 38px;
    padding-right: 23px;
}

 .mainarticle .vote-count {
	font-size: 18px;
	padding-right: 12px;
}

.singlearticle .vote-count i {
    position: absolute;
    bottom: 1px;
    right: -2px;
    font-size: 32px;
}

.mainarticle .vote-count i {
    position: absolute;
    bottom: -1px;
    right: -2px;
    font-size: 18px;
}

.mainarticle .idle-votepost .vote-count {
	color: #111;
    padding-right: 15px;
    cursor: auto;
}

.mainarticle .idle-votepost i {
    position: absolute;
    bottom: 4px;
    right: -1px;
    font-size: 14px;
    color: #62A751;	
}

.singlearticle .idle-votepost .vote-count {
	color: #111;
    padding-right: 25px;
    cursor: auto;	
}

.singlearticle .idle-votepost i {
    position: absolute;
    bottom: 9px;
    right: 1px;
    font-size: 25px;
    color: #62A751;		
}

.singlepage .btn-vote {

}

.btn-vote:hover {
	color: #37d;
}

.btn-vote i {

}

.singlepage .btn-vote i {

}

.singlepage .vote-count {

}

/* PAGINATION */

	.pagination {
		font-family: "futura-pt",sans-serif;
		font-weight: 700;
		font-size: 14px;
		text-align: center;
	}

	.pagination li {
		display: inline;
	}

	.pagination span,
	.pagination a {
	    display: inline-block;
	    padding: 5px 0;
	    width: 34px;
	}
 
	.pagination .active span {
		color: #37d;
	}

	.pagination .disabled {
		cursor: not-allowed;
		color: #999;
	}




/*SELECT TAGS*/

	.list-tags {
		columns: 3;
	  	-webkit-columns: 3;
	  	-moz-columns: 3;
	  	padding: 10px 20px;
	}

	.single-tag {
		transition: all .15s ease-in;
    	padding: 0 4px;	
    	cursor: pointer;
	}

	.disable-tag {

	}

	.enable-tag {
		background: #333;
    	color: #fff;
	}

/*DROPDOWN MENU*/

	.menu-dates.open {
		color: #fff;
	}



	.js-menu-dates {
    transition: all 300ms ease-in-out;
    max-height: 0;
    background: #333;
    overflow: hidden;
    position: absolute;
    top: 46px;
    left: 4px;
    right: 4px;
    z-index: 20;
	}

	.js-menu-dates.js-open {
		max-height: 80px;
	}

	.js-menu-search {
    transition: all 600ms ease-in-out;
    max-height: 0;
    background: #333;
    overflow: hidden;
    position: absolute;
    top: 46px;
    left: 4px;
    right: 4px;
    z-index: 20;
	}

	.js-menu-search.js-open {
		max-height: 150px;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-menu {
		position: absolute;
	    top: 46px;
	    right: 145px;
	    z-index: 1000;
	    display: none;
		width: 360px;
    	padding: 0 10px;
	    background-color: #444;

	}

	.dropdown-menu-dates {
		padding: 20px 35px 35px;
	}

	.user-dropdown-menu {
		right: -10px;
    	left: auto;
	}

	.date-list {
    padding: 10px 0 20px;
    font-family: "futura-pt",sans-serif;
    text-align: center;
    font-size: 18px;
	}

	.date-list li {
		display: inline-block;
		padding: 0 10px;
	}

	.date-list a {
	    padding: 4px 0;
	    color: #ccc;
	    white-space: nowrap;
	}

	.date-list span {
	    color: #999;
	    font-size: 16px;
    	letter-spacing: -0.5px;
	}



	.dropdown-menu a:hover {
		color: #111;
		background: #f0f0f0;
	}

	.open>.dropdown-menu {
	    display: block;
	}

	.dropdown.open span {
		color: #fff;
	}

	a.date-list-picker-launch {
	    color: #fff;
	    margin-top: 10px;
	    font-weight: 400;
	}





/*TOOLTIP*/

	.tooltip {
	    top: -26px;
	    right: -11px;
	    background-color: #333;
	    font-size: 14px;
	    padding: 0 8px;
	    color: #FFF;
	    opacity: 0;
	    position: absolute;
	    transition: opacity 0.5s;
	}

	.tooltip:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    bottom: -8px;
	    left: 54%;
	    border: 4px solid #000;
	    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333 #333;
	    transform-origin: 0 0;
	    transform: rotate(-45deg);
	}

	.tooltip-launch {
		position: relative;
	}

	.tooltip-launch:hover .tooltip {
	    opacity:1;
	}



/*MODAL BOX*/



	.modal-background {
	    display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #333;
	    opacity: .50;
	    filter: alpha(opacity=50);
	    z-index: 1000;
	}



	.modal-content {
	    background-color: #fff;
	    box-shadow: 0 0 4px 0 #333;
	    display: none;
	    min-height: 240px;
	    left: 50%;
	    margin: -120px 0 0 -210px;
	    position: fixed;
	    top: 40%;
	    width: 420px;
	    z-index: 1000;
	}



	.header-modal {
	    border-bottom: 1px solid #f0f0f0;
	    padding: 10px 20px;
	}

	.footer-modal {
		background: #f0f0f0;
		padding: 10px 20px;
	}


	.modal-background.active, 
	.modal-content.active {
    	display: block;
	}​

	.rst {}




/*CUSTOM INFO WINDOW (INFOBOX)*/

	.infoBox {
		position: relative;
	    background: #fff;
	    color: #111;
	    padding: 15px;
	    font-size: 14px;
	    font-weight: 300;
	    font-family: "proxima-nova",sans-serif;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    box-shadow: 0px 1px 4px #333;
	}

	.infoBox:after {
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    margin-left: -10px;
	    bottom: -14px;
	    left: 50%;
	    border: 7px solid #000;
	    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF #FFF;
	    transform-origin: 0 0;
	    transform: rotate(-45deg);
	    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.4);
	}

	.infobox-link a {
		font-size: 16px;
		color: #37d;
	    padding: 8px 0 2px 0;
	    display: inline-block;
	}

	.infobox-count {
	    color: #6E5D92;	
	    font-weight: 700;
	    font-size: 18px;
    	padding-right: 6px;
	}

/* FLASH MESSAGE */

	.flash-message {
	    position: absolute;
	    top: 50px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    width: 40%;	
		background: rgba(0,0,0,0.8);
		color: #F0E9FF;
		padding: 8px 20px;
    	text-align: center;
	}


	/*en desarrollo*/


/*
	RESPONSIVE
*/



/*Responsive map*/

	.map-responsive {
	    display: none;
	    float: right;
	    color: #fff;
	    height: 46px;
	    line-height: 46px;
	    letter-spacing: -0.5px;
	    padding: 0 5px;
	}

	.map-wrap-toggle {
		left: 0 !important;
	}

/**************/

.primary-menu.open {
    left: 0;
    transition: all 0.5s ease;
}

@media (max-width:640px) {

	.main-menu {

	}

	.main-menu li {
		display: block;
		float: none;
	    padding-left: 10px;
	}

	.main-menu > li > a, 
	.main-menu > li > span {
		height: 34px;
	}

	.main-menu .chevron {
		display: none;
	}



	.map-responsive {
		display: block;
	}





	.menu-sign span {
		display: none !important;
	}

	.menu-sign a {
		display: block !important;
	}

	.menu-sign-in {
		padding-left: 10px !important;
	}

	.right-50 {
		width: 100%;
	}

	.left-50 {
		width: 100%;
		left: -100%;
	}


}

/***************************/

@media (max-width:640px) {

	/*LOGIN*/
	.account-title {
		font-size: 50px;
	}

	.account-flex {
		flex-direction: column;
	}

	.account-flex > div {
		width: 100%;
	}

	.account-text {
		margin: 15px 0;
	}

	.footer-flex {
		justify-content: center;
	}

	.footer-logo h1 {
		display: none;
	}

	/*CREATE*/

	#post-title {
		font-size: 28px;
	}

	.datestype {
		flex-direction: column;
	}

	.flex-dates {
		flex-direction: column;
	}

	.input-multi-dates {
		margin: 10px 0 0;
	}

}

@media (max-width:880px) {

	.primary-menu {
		position: fixed;
		top: 46px;
		left: -220px;
		bottom: 0;
		width: 220px; 
		/*flex-wrap: wrap;*/
	    background: #333;	
	    padding: 0 10px;
	    height: 100%;
	    overflow-y: auto;
	}

	.nav-flex {
		flex-direction: column;
	}

	.nav-responsive {
		display: block;
	}

	.logo {
		margin-left: 40px;
	}

	.logo a {
		padding-left: 4px;
	}

	a.name-me {
		margin-left: 40px;
	}

	.avatar-me {
		top: -36px;
    	left: 8px;
	}

	.menu-search .sub-menu {
		visibility: visible;
    	opacity: 1;
    	position: relative;
    	top: 0;
    	left: 0;
    	background: #333;
        margin: 16px 12px;
	}

	.search-box input {
		width: 100%;
	    padding: 10px;
    	height: 37px;
	}

	.btn-search {
		padding: 10px;
	}

	.sub-menu a, 
	.sub-menu span {
    color: #fff;
	}

	.dd-menu:after {
		content:none;
	}

	.menu-search > span.launch-sub-menu {
		display: none;
		order: 0;
	}

	.search-menu {
		padding: 0;
	}

	.menu-home {order: 1}
	.menu-search {order:0;}
	.menu-dates {order: 2}
	.menu-tags {order: 3}
	.menu-lists {order: 4}
	.menu-create {order: 5}
	.menu-user {order: 6}
	.menu-register {order: 5}
	.menu-login {order: 6}

	.nav-flex > a,
	.nav-flex .launch-sub-menu {
		color: #fff;
		width: 100%;
	}

	.search-options {
		display: none;
	}

	.menu-dates .launch-sub-menu {
		color: #888;
		cursor: default;
	}

	.menu-dates .sub-menu {
		visibility: visible;
	    opacity: 1;
	    background: #333;
	    position: relative;
	    top: 0;
	    left: 0px;
	    margin: 0px 10px 10px;
	    padding: 0;
	    border-left: 1px solid #777;
	}

	.sub-menu time {
		display: none;
	}

	.sub-menu .launch-menu-picker {
		display: none;
	}

}


@media (max-width:1024px) {

	.main-header {
    	margin: 12px 14px 18px;
    }

    .post-list {
    	margin: 0 8px 15px;
    	padding-bottom: 15px;
    }

    .post-top {
    	margin-right: 10px;
    }
}